# Java
JAVA_HOME=/c/Dev/java/jdk-17.0.7

# Server
SERVER_PORT=8081

# Upload
RESERVATION_PHOTO_UPLOAD_DIR=uploads/reservation-photos

# React development CORS
APP_CORS_ALLOWED_ORIGIN_VITE=http://localhost:5173
APP_CORS_ALLOWED_ORIGIN_CRA=http://localhost:3000

# Gmail SMTP
NOTIFICATION_EMAIL_ENABLED=true
NOTIFICATION_EMAIL_FROM=your-email@gmail.com
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-google-app-password
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS_ENABLE=true
